.mainHeading {
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: var(--text-alternative);
  font-size: 1px;
}
.paintings {
  margin: 24px auto 1px auto;
  width: 327px;
}
.painting {
  margin: 0 auto 24px auto;
  position: relative;
  width: 327px;
  transition: 300ms;
}
.painting:hover {
  cursor: pointer;
  opacity: 0.6;
}
.paintingGradiend {
  width: 327px;
  height: 170px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.84) 100%
  );
}
.paintingHeading {
  width: 246px;
  position: absolute;
  bottom: 57px;
  left: 32px;
  color: var(--text-alternative);
}
.paintingText {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 13px;
  color: var(--text-alternative);
  opacity: 0.7528;
}

@media screen and (min-width: 768px) {
  .paintings {
    margin: 40px auto 0 auto;
    width: 728px;
  }
  .painting {
    margin-bottom: 40px;
    width: 324px;
  }
  .paintingImg {
    width: 324px;
  }
  .paintingGradiend {
    width: 324px;
  }
  .paintingHeading {
    bottom: 55px;
  }
}

@media screen and (min-width: 1440px) {
  .paintings {
    margin: 40px auto 0 auto;
    width: 1400px;
  }
  .painting {
    margin-bottom: 40px;
    width: 310px;
  }
  .paintingImg {
    width: 310px;
    object-fit: cover;
  }
  .paintingGradiend {
    width: 310px;
  }
  .paintingHeading {
    bottom: 57px;
  }
  .paintingText {
    bottom: 32px;
  }
}
